<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>ESTA ES LA LISTA DE FAMILIARES EN LA BD</h3>

    <h2>Familiar 1</h2>

    <p>Se llama {{familiar1.nombre}} {{familiar1.apellido}}</p>
    <p>tiene {{familiar1.edad}} años y nacio el día {{familiar1.nacimiento}}</p>

    <h2>Familiar 2</h2>

    <p>Se llama {{familiar2.nombre}} {{familiar2.apellido}}</p>
    <p>tiene {{familiar2.edad}} años y nacio el día {{familiar2.nacimiento}}</p>

    <h3>Familiar 3</h3>

    <p>Se llama {{familiar3.nombre}} {{familiar3.apellido}}</p>
    <p>tiene {{familiar3.edad}} años y nacio el día {{familiar3.nacimiento}}</p>
    
</body>
</html>